* {
  box-sizing: border-box;
  font-size: 14px;
  overflow: visible;
  font-family: "open sans", sans-serif;
}

.hero {
  background-image: url("../assets/header.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  height: 525px;
}

header.hero-name, .hero-deck {
  background-repeat:no-repeat;
  background-size: cover;
}

.company-branding {
  margin-left: 140px;
  padding-top: 10px;
}

.company-branding img.company-logo {
  width: 40px;
  padding: 0px;
  margin: 5px 10px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

p.page-title {
  margin: 15px auto;
  display: inline-block;
}

.top-nav {
  float: right;
  margin: 0 165px 0 0;
  padding: 20px;
}

.top-nav a{
  text-decoration: none;
  color: #000;
  float: right;
  padding: 0 5px 3px 3px;

}

.top-nav a img {
  margin-left: 5px;
}

.centerText {
  margin-top: 100px;
}

.hero-name {
  font-size: 5.92em;
  color: #fff;
}

.container-fluid {
  padding: 0;
}
.hero-deck {
  font-size: 1em;
  color: #000;
}

.front-page {
  width: 52%;
  overflow: visible;
  font-family: "open sans", sans-serif;
}

// Sidebar
.sidebar {
width: 35%;
float: right;
margin: 6em;
}

.bigger-avatar {
  margin: 0 0 0 125px;
}

.byline {
  margin: 5px 0 0 120px;
  font-size: 16px;
  color: #3C7EB8;
  font-weight: bold;
}

.social-sidebar p {
  display: inline;
  color: #A7B6C2;
  padding: 10px;

}

.social-sidebar {
  margin: 45px 0 0 35px;

}

.ad-image {
  margin: 25px;
}

.ad-deck {
  margin: 10px 0 0 192px;
  color: #A7B6C2;
  text-decoration: underline;

}

// Article

.front-page .headline {
  float: left;
  overflow: visible;
}

.front-page .headline h1 {
  font-size: 3.92em;
  float: left;
  padding-left: 25px;
  overflow: visible;
  font-family: "oswald", sans-serif;
}

.front-page .story-date {
 float: inherit;
 overflow: visible;
 display: inline-block;
}

.deck .story-date {
overflow: visible;
}

.story-date {
  overflow: visible;
  display: inline-block;
  color: #ACBAC5;


}

.front-page {
  padding: 70px 0 25px 130px;
  line-height: 1.42em;
}

.front-page img {
  width: 30px;
  margin-right: 10px;
}

.headline .deck {
  color: #6D9ECB;
}



.pullquote {
  color: #2D73AA;
}

.social img {
  height: 30px;
  float: left;
  background-color: #5D676E;

}

.social span {

}

.social button a{
  margin: 10px;
  color: #fff;
  margin: 0;
  padding: 0;
  display: block;
}

.social button {
  background-color: #AAB9C4;

}
.social button:last-child {
  // margin-left: 25px;
  background-color: #1771B5;
}

// Popular Posts bottom banner

.popular-posts {
  // padding: 0;
  display: inline-block;
}

.popular-posts h1 {
  text-align: center;
  font-family: "open sans", sans-serif;
  font-size: 4.07em;
  font-weight: bold;
  margin: 90px 0 50px 0;
  border-top: 1px solid #E4E9EC;
}

 .popular-posts {
   overflow: auto;
   width: 100%;
   margin: 0;
   padding: 0;
 }

 .image-posts {
  //  width: 100%;
   float: left;
   display: block;
 }

.image-posts a {
  display: inline-block;
  margin: 0 0 0 0;
  width: 25%;
}

.image-posts h4 {
  text-align: center;
  width: 100%;
  font-size: 2.14em;
}

.post h4 {
  position: absolute;
  bottom: 10px;
  text-decoration: none;
  color: #fff;
}

.post {
  position: relative;
  float: left;
}

// Footer

.bottom {
  height: 100px;
  background: #083452;
  overflow: hidden;
  padding: 0;
}


footer nav li a {
  text-decoration: none;
  // font-size: 1.5em;
  padding: 10px;
  color: #fff;
}

.bottom nav li {
  float: right;
  display: inline-block;
}

.bottom ul {
  margin: 45px 165px 0 0;
}

.meta {
  margin: 0 0 0 170px;
  float: left;
}

.TIY-logo {
  width: 60px;
  margin: 25px 7px 30px 0;
}
.legal {
  color: #fff;
  display: inline-block;
}
